<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/promocoes/create" method="post">
			<div class="">
				<input type="text" name="mensagem" />
			</div>
			<div class="">
				<select class="" name="livro[titulo]">
					<% for(var i=0; i<lista.length;i++) {%>
						<option value="<%=lista[i].titulo%>"><%=lista[i].titulo%></option>
					<%}%>
				</select>
			</div>
			<input type="submit" value="Cadastrar Promoção"/>
		</form>
	</body>
</html>
